/* ------------------- css reset -------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 /* --------------------------- scroll bar start --------------------- */
  /* Works on Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #c4c4c4;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 20px;
  }
  /* --------------------------- scroll bar end --------------------- */


  /* ------------------- Main container start -------------------- */
  .main_container {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: Helvetica;
  }
    
  /* ------------------- Secondary nav start -------------------- */
  .secondary_nav {
    height: 48px;
    background-color: #34495e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff99;
  }
  
  .secondary_nav div a {
    padding: 0.8rem .5rem;
    margin: 0.1rem;
    text-decoration: none;
    color: inherit;
  }
  .secondary_nav div{
    display: flex;
    align-items: center;
  }
  .secondary_nav div span {
    font-size: 2rem;
    margin-left: .5rem;
  }

  /* ------------------- Secondary nav end -------------------- */
  
  /* ------------------- section start -------------------- */
  
  .section_1 {
    padding: .5rem;
    background: #e5e5e5;
  }
  .section_body {
      display: block !important;
  }
  
  /* ****************** section header start *************** */
  
  .section_header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .section_header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
  .section_header form {
    width: 50%;
  }

  .section_header div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .section_header_logo {
    height: 36px;
  }

  
  .section_header input {
    border: 1px solid rgba(136, 148, 160, 0.3);
    /* background-color: blue; */
  }
  
  .section_header input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(136, 148, 160, 0.6);
    opacity: 1; /* Firefox */
  }
  
  .section_header input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(136, 148, 160, 0.6);
  }
  
  .section_header input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(136, 148, 160, 0.6);
  }
  
  .section_header div:last-child button {
    border: 1px solid rgba(136, 148, 160, 0.3);
    background-color: white;
    display: flex;
    align-items: center;
  }
  .section_header div:last-child button span {
    margin-left: 0.5rem;
  }
  
  .search_icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 10px;
  }
  
  /* ****************** section header end *************** */
  
  
  /* ------------------- section body start -------------------- */


.grid_container_body{
  display: flex;
  width: 100%;
  flex-direction: column;
}

.table_body_row {
  width: 100%;
  display: grid;
  margin: 0.5rem 0rem;
  align-items: center;
  grid-template-columns: 1.5fr 1fr 1fr .7fr;
  grid-template-rows: repeat(2,1fr);
 padding: 0.5rem 0.5rem;
  column-gap: .2rem;
  align-items: center;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.table_body_row div:first-child{
  grid-row: 1/-1;
}

.table_body_row_contetnt_heading{
  color: #8894A0;
  text-transform: uppercase;
  font-size: 12px;
}
.table_body_row{
  font-size: 14px;
}
.table_body_row span{
  margin-right: .5rem;
}

.clock_image{
  grid-row: 1/-1;
  grid-column: -1;
  width: 50px;
  text-align: right;
}

.left_part h3{

}





  
 
  
  /* ************************** media query start *************************** */

  @media screen and (max-width: 450px) { 
    
    .section_header_filter_button button span{
      display: none;
      
    }
    .section_header_filter_button button{
      display: none;
      background-color: transparent !important;
      border: none !important;
      outline: none;
      padding: .5rem;
      padding-left: 0px;
    }
    .section_header form {
      width: 100%;
  }

.table_body_row {
  width: 100%;
  display: grid;
  margin: 0.5rem 0rem;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 30px 1fr;
 padding: .5rem .5rem;
  column-gap: 0px;
  /* align-items: center; */
  /* justify-items: center; */
}

.table_body_row > div:nth-child(1){
  grid-column: 1/5;
  grid-row: 1;
  padding-bottom: .5rem;
  border-bottom: 1px solid #E3E8ED;
  
}
.table_body_row > div:nth-child(2){
display: none;
}
.table_body_row div:nth-child(3){
  min-width: 70px;
  grid-column: 1/2;
}  
.table_body_row > div:nth-child(5){
  align-self: flex-start;
  grid-row: 1;
  height: 100%;

  border-bottom: 1px solid #E3E8ED;
}
.table_body_row > div:nth-child(6){
  /* border: 1px solid orange; */
  margin-top: 1rem;
  grid-column: 1/4;
  grid-row: 2;
}
.table_body_row div:nth-child(7){
  grid-column: 2/3;
  grid-row: 3;
  min-width: 70px;
}
.table_body_row div:nth-child(4){
  margin-bottom: 1.2rem;
  /* align-self: flex-start; */
  grid-column: 3/5;
  grid-row: 3;
  /* background-color: yellow; */
}  
.table_body_row div:nth-child(8){
  margin-top: 1.2rem;
  /* align-self: flex-end; */
  grid-column: 3/6;
  grid-row: 3;
  /* background-color: yellow; */
}  




} 

































































/* ---------------------------- media query ----------------------------- */


/* @media screen and (max-width: 870px) {
    
  }  */


















  
   /* @media screen and (max-width: 1300px) {
    .table_body_row , .grid_container_header{
         column-gap: .5rem;
         grid-template-columns: minmax(70px, 1fr) minmax(160px, 1.2fr) minmax(100px,1fr) minmax(40px, .5fr) minmax(100px, 1fr) minmax(100px, 1.5fr);
   
  }
   */
  }
  /* @media screen and (max-width: 1200px) {
    .table_body_row , .grid_container_header{
         column-gap: 0rem;
         padding: .2rem;
  } */

  
  
  /* .section_body {
    display: grid;
    grid-template-columns: minmax(250px, 290px) 1fr;
  }
  .section_aside_inner_content:nth-child(3) {
    width: 103%;
     */
  /* }
   */
  /* }  */

   /* @media screen and (max-width: 870px) { */
    /* .section_body aside{
      width: 100%;
    }
    
    .section_aside_inner_content:nth-child(3) button {
      border: 1px solid #cfd4d9;
    }
    .right_side_header div {
      width: 100%;
    }
  
    .section_header_search {
      width: 100%;
    }
    .section_header > div > div:last-child {
      display: none;
    }
    aside {
      background: #ffffff !important;
    }
    .section_aside_inner_body {
      position: relative;
      padding: 0.8rem 0px;
      background: #ffffff !important;
    }
    .customised_btn {
      border: 1px solid #cfd4d9;
    }
  
    .section_aside_inner_content:nth-child(3) {
      width: 100%;
    }
    .section_body {
      grid-template-columns: 1fr;
      padding: 1rem;
      padding-top: 0px;
    }
  
    .section_aside_inner_content:nth-child(3) div:last-child button {
      padding-right: 1rem;
    }
    .section_1 {
      padding: 0rem;
      background: #ffffff;
    }
    .accordion-item {
      margin-bottom: 0.5rem;
    } */
  /* }  */
   

  /* --------------- secondary_nav start ---------------- */

  
  /* --------------- secondary_nav end---------------- */
   
  /* ************************** media query end *************************** */
  








  /* .table_body_row:nth-child(odd) {
  background-color: #d6eeee;
}
.table_body_row div {
  font-size: 14px;
  text-align: left;
}
.table_body_row div:nth-child(3) {
  font-weight: 500;
}
.table_body_row div:nth-child(2) div:first-child {
  font-weight: 700;
}

.table_body_row div:last-child {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.table_body_row div:last-child span:nth-child(2) {
  margin: 0px 0rem;
  display: flex;
  align-items: center;
}
.table_body_row div:last-child span:nth-child(2) span:first-child {
  padding: 0px 0.5rem 0px 0.5rem;
} */





















/* 
  .table_container {
    margin: 0rem;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  .table_container thead tr th {
    padding: 1rem 1.5rem !important;
  }
  
  .table > :not(caption) > * > * {
    border-width: 0px;
  }
  .table > :not(:first-child) {
    border-top: 0px;
  }
  
  .table_container tbody > tr td:first-child {
    margin-left: 1.5rem;
    background-color: burlywood;
  }
  .table_container tbody > tr td:last-child {
    padding-right: 1.5rem;
  }
 tbody {
    width: 100%;
    margin: 1rem !important;
  }
  
  .table_container tbody {
    padding: 0rem 1rem !important;
  }
  
  table {
    border: none !important;
    border-spacing: none;
  }
  .table_container thead tr th {
    text-transform: uppercase;
    color: #8894a0;
    font-size: 12px;
  }
  .table_container thead {
    border: none !important;
  }
  
  .table_container thead tr th:first-child i {
    font-size: 1rem;
    font-weight: 400;
    color: #8894a0;
  }
  .table_container thead tr th i {
    font-size: 1rem;
    font-weight: 400;
    color: #e4e4e4;
  } */
   
  /* --------------- table header start ---------------- */
  
  /* .grid_container_header {
    display: grid;
    margin: 0.5rem 0rem;
    align-items: center;
    grid-template-columns: minmax(70px, 1fr) minmax(160px, 1.5fr) minmax(
        100px,
        1fr
      ) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1.5fr);
    padding: 0.5rem 0.5rem;
    column-gap: 1rem;
    align-items: center;
    justify-items: center;
  }
  .grid_container_header div {
    align-content: center;
    text-transform: uppercase;
    color: #8894a0;
    font-size: 12px;
  }
  .grid_container_header div:first-child i {
    font-size: 1rem;
    font-weight: 400;
    color: #8894a0;
  }
  .grid_container_header div i {
    font-size: 1rem;
    font-weight: 400;
    color: #e4e4e4;
  }
   */
  /* --------------- table header end ---------------- */
  
  
  
  /* ****************** section body end *************** */
  
  /* ------------------- section end -------------------- */
  
  /* ------------------- section start -------------------- */
  
